<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
    <% include partials/template/header.ejs %>
    <div class="container-fluid">
    <section>
    	<div class="col-md-9">
        <% include partials/content/about.ejs %>
    	</div> <!-- primary -->
    	<aside>
        <div class="col-md-3">
         <% include partials/content/feeds.ejs %>         	
        </div>
    	</aside>
    </section> 
    </div>
    <div class="footer">
      <% include partials/template/footer.ejs %>
    </div>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
