    <div id="content">
          <h1><a href="#"></a>EDIS FAQs &amp; Help</h1>
            <ul class="nav nav-pills">
 			  <li><a href="#header2">Publishing on EDIS</a></li>
			  <li><a href="#header1">Using the EDIS Website</a></li>
              <li><a href="#editors">Editor Contacts</a></li>
              <li><a href="#staff">Production Team</a>
            </li>
            </ul>

		  <h3><a href="pubfaq.html">Publishing on EDIS</a><a name="header2" id="header2"></a></h3>
		  <p>
		  <a href="pubfaq.html#header1">How do I publish something I've written on EDIS?</a><br />
		  <a href="pubfaq.html#header2">What is a Digital Library Number (DLN)?</a><br />
		  <a href="pubfaq.html#header3">What is an IFAS Publication Number (IPN)?</a><br />
		  <a href="pubfaq.html#header4">Which elements of a custom PDF are required?</a><br />
		  <a href="pubfaq.html#editors">Who do I contact for editorial assistance?</a><br />
		  <a href="pubfaq.html#exfaculty">How should a document be noted when the original author has left the faculty?</a><br />
		  <a href="pubfaq.html#endnote">How do I add my EDIS publications to EndNote Web?</a>
		  </p>
          
          <h3><a href="webfaq.html">Using the EDIS Website</a><a name="header1" id="header1"></a></h3>
		  <p>
		  <a href="webfaq.html#header1">What does "EDIS" mean?</a><br />
		  <a href="webfaq.html#header2">I keep getting errors, why isn't anything available?</a><br />
		  <a href="webfaq.html#header3">What are the two numbers I see listed in the search results (e.g., PP225/CG086)?</a><br />
		  <a href="webfaq.html#header4">Will you link to my website?</a><br />
		  <a href="webfaq.html#header5">An article I found on your website is perfect for a project I'm doing. May I use it?</a><br />
		  <a href="webfaq.html#header6">How do I cite a publication on EDIS?</a><br />
		  <a href="webfaq.html#header7">I'm having difficulty printing a pdf I downloaded from the EDIS Website.</a><br />
		  <a href="webfaq.html#header8">What are keywords?</a><br />
		  <a href="webfaq.html#header9">What is an author keyword?</a><br />
		  <a href="webfaq.html#header10">What is a title keyword?</a><br />
		  <a href="webfaq.html#header11">What is a department?</a><br />
		  <a href="webfaq.html#editors">I'd like to report a problem with a specific publication.</a>
		  </p>
		  <p class="toplink"><a href="#">Top</a></p>
    	  
    	  <h3><a name="editors" id="editors"></a>Editorial Contacts</h3>
		  <p>The table below lists the EDIS editorial staff and the departments for which they are responsible. </p>


 		  <table class="blue-table" cellspacing="0" width="94%"> 
		  <tbody><tr>
		  <td valign="top" width="35%">
	  		Susan Gildersleeve<br />
          (352) 294-3318<br />
          <a href="mailto:skgilder@ufl.edu">skgilder@ufl.edu</a><br />
          (<a href="../staff_bios.html#susan">bio</a>)
		  </td>

		  <td width="65%">
            <p><a href="http://entnemdept.ifas.ufl.edu">Entomology and Nematology</a><br />
              <a href="http://fishweb.ifas.ufl.edu/">Fisheries and Aquatic Sciences</a><br />
              <a href="http://www.fred.ifas.ufl.edu/">Food and Resource Economics</a><br />
              <a href="http://www.sfrc.ufl.edu/">School of Forest Resources and Conservation</a><br />
              <a href="http://snre.ifas.ufl.edu/">School of Natural Resources and Environment</a><br />
              <a href="http://www.wec.ufl.edu/">Wildlife Ecology and Conservation</a><br />
              <a href="http://www.flseagrant.org/">Sea Grant</a><br />
            </p></td>

          </tr>
            <tr>
		  <td valign="top" width="35%">

		  Neal Hammons<br />
		  (352) 294-3305<br />
		  <a href="mailto:nhammons@ufl.edu">nhammons@ufl.edu</a><br />
                   (<a href="../staff_bios.html#neal">bio</a>)

		  </td>
		  <td width="65%">
           <p>   <a href="http://www.abe.ufl.edu/">Agricultural and Biological Engineering</a><br />
			  <a href="http://agronomy.ifas.ufl.edu/">Agronomy</a><br />
 		       <a href="http://animal.ifas.ufl.edu/">Animal Sciences</a><br />
               <a href="http://fycs.ifas.ufl.edu/">Family, Youth, and Community Sciences</a><br />
               <a href="http://microcell.ufl.edu/">Microbiology and Cell Science</a><br />
		       <a href="http://soils.ifas.ufl.edu/">Soil and Water Science</a><br />
               <a href="http://www.vetmed.ufl.edu/">Veterinary Medicine</a><br />
                <a href="http://florida4h.org/">4-H Youth Development</a> <br /></p>
 </td>

          </tr>


          <tr>
		  <td valign="top" width="35%">
		  Jim Bassett<br />
          (352) 294-3307<br />
         <a href="mailto:jbassett@ufl.edu">jbassett@ufl.edu</a><br />
                   (<a href="../staff_bios.html#jim">bio</a>)

		  </td>

		  <td width="65%">
       <p>   <a href="http://aec.ifas.ufl.edu/">Agricultural Education and Communication</a><br />
               <a href="http://hort.ifas.ufl.edu/">Environmental Horticulture</a><br />
          <a href="http://fshn.ifas.ufl.edu/">Food Science and Human Nutrition</a><br />
             <a href="http://www.flmnh.ufl.edu/natsci/herbarium/">Herbarium</a><br />
             <a href="http://www.hos.ufl.edu/">Horticultural Sciences</a> <br />
  		       <a href="http://plantpath.ifas.ufl.edu/">Plant Pathology</a>	<br />
		      <a href="http://pested.ifas.ufl.edu/">Pesticide Information Office</a><br /></p>
 		  </td>
          </tr>
		  </tbody></table>
          
          	<p class="toplink"><a href="#">Top</a></p>
    		  <h3><a name="editors" id="staff"></a>Production Team</h3>
		      <p>The table below lists the EDIS production staff and their roles. </p>

		  <table class="blue-table" cellspacing="0" width="94%"> 
		  <tbody><tr><td valign="top" width="35%">
		  Diana Hagan<br />
		  (352) 294-3315<br /> 
		  <a href="mailto:dihagan@ufl.edu">dihagan@ufl.edu</a><br />
          (<a href="../staff_bios.html#diana">bio</a>)
          		  </td>
		  <td align="left" width="65%">
		  Coordinator of Computer Applications (EDIS Librarian). Responsible for the organization and management of the EDIS website, EDIS Update mailing list and RSS feed, and production workflows. Coordinates notifications for 3-year review of EDIS publications.</td>
		  </tr><tr>
		  <td valign="top" width="35%">
	  Melanie Mercer<br />
          352/392-2411 x295<br />
          <a href="mailto:melaniem@ufl.edu">melaniem@ufl.edu</a><br />
          (<a href="../staff_bios.html#melanie">bio</a>)
		  </td>

		  <td width="65%">
 Office Manager. Administers print services. </td>
          </tr>
          <tr>
		  <td valign="top" width="35%">

		  Wesley Croom<br />
		  352/392-2411 x308<br />
		  <a href="mailto:wdcr@ufl.edu">wdcr@ufl.edu</a><br />
                   (<a href="../staff_bios.html#wes">bio</a>)

		  </td>
		  <td width="65%">
Inputter(IT Intermediate).  One of centralized team of inputters. Provides graphic design and user support for inputting documents into EDIS Authoring Tool. Backs up Melanie in approving minor revisions.
 </td>

          </tr>
		  <tr>
		  <td valign="top" width="35%">
		  Hope Crawford<br />
          (352) 294-3320<br />
		  <a href="mailto:deloris@ufl.edu">deloris@ufl.edu</a><br />
                   (<a href="../staff_bios.html#hope">bio</a>)


		  </td>
		  <td width="65%">
Inputter (Graphic Designer). Works half-time as part of EDIS production team. Coordinates EDIS production workflow. Approves minor revisions of existing documents. 
		   </td>
		  </tr>
          		  <tr>
		  <td valign="top" width="35%">
		  Vacant<br />
          (352) 294-3316<br />
		  <a href=""></a></td>
		  <td width="65%">
Proofreader. (half time)
		   </td>
		  </tr>
		  </tbody></table>
          	<p class="toplink"><a href="#">Top</a></p>
    </div>