<article id="feed">
  <h1> EDIS Facebook</h1>
  <ul class="list-group">
    <li class="list-group-item">feed 1</li>
    <li class="list-group-item">feed 2</li>
    <li class="list-group-item">feed 3</li>
    <li class="list-group-item">feed 4</li>
    <li class="list-group-item">feed 5</li>
  </ul>
</article>